# --- TERRAFORM ---
terraform/*.tfstate
terraform/*.tfstate.backup
.terraform*
*.tfvars*

# --- MACOS ---
.DS_Store

# --- IDEs ---
.vscode/
.idea/
*.iml   

# --- ANSIBLE ---
ansible/.venv
ansible/setup_env.sh

# --- PACKER ---
packer/*

# Un jour peut-être
.$schema_architecture_infra.drawio.bkp
schema_architecture_infra.drawio