# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# --- ANSIBLE ---
*.retry
inventory/inventory.proxmox.yml # S'il contient des secrets
ansible.log

# --- SECRETS & ENV ---
.env
.vault_pass
*.pem
*.key
*.pub

# --- OS / IDE ---
.vscode/
.idea/
.DS_Store

# --- PERSO ---
.*
!.gitignore
!.github/
.github/setup_vars_secrets/
ansible/setup_env.sh
packer/*