---
- name: Restart Kea DHCP4
  service:
    name: kea-dhcp4-server
    state: restarted
    enabled: yes
  become: yes

- name: Restart Kea Ctrl Agent
  service:
    name: kea-ctrl-agent
    state: restarted
    enabled: yes
  become: yes