---
- name: Configurer Kea Control Agent (Pour la HA)
  template:
    src: kea-ctrl-agent.conf.j2
    dest: /etc/kea/kea-ctrl-agent.conf
    mode: '0644'
  become: yes
  notify: Restart Kea Ctrl Agent

- name: Configurer Kea DHCPv4 Server
  template:
    src: kea-dhcp4.conf.j2
    dest: /etc/kea/kea-dhcp4.conf
    mode: '0644'
  become: yes
  notify: Restart Kea DHCP4

  