plugin: community.proxmox.proxmox
validate_certs: false
want_facts: true

compose:
  ansible_host: proxmox_agent_interfaces[1]['ip-addresses'] | select('search', '\.') | first | split('/') | first

keyed_groups:
  - prefix: role
    key: proxmox_name.split('-')[1]
    separator: "_"
groups:
  role_ALL: "'DEB' in proxmox_name"