plugin: community.proxmox.proxmox

# Mappage plugin aux variables d'environnement
url: "{{ lookup('env', 'TF_VAR_proxmox_api_url') }}"
user: "{{ lookup('env', 'TF_VAR_proxmox_api_user') }}"
token_id: "{{ lookup('env', 'TF_VAR_proxmox_api_token_id') }}"
token_secret: "{{ lookup('env', 'TF_VAR_proxmox_api_token_secret') }}"

validate_certs: false
want_facts: true

compose:
  ansible_host: proxmox_agent_interfaces[1]['ip-addresses'] | select('search', '\.') | first | split('/') | first

keyed_groups:
  - prefix: role
    key: proxmox_name.split('-')[1]
    separator: "_"
groups:
  role_DEB: "'DEB' in proxmox_name"
  role_BAST: "'BAST' in proxmox_name"