plugin: community.proxmox.proxmox
url: "{{ lookup('env', 'TF_VAR_proxmox_api_url') }}"
user: "{{ lookup('env', 'TF_VAR_proxmox_api_user') }}"
token_id: "{{ lookup('env', 'TF_VAR_proxmox_api_token_id') }}"
token_secret: "{{ lookup('env', 'TF_VAR_proxmox_api_token_secret') }}"
validate_certs: false
want_facts: true

filters:
  - proxmox_name is defined
  - "proxmox_name.startswith('DEB') or proxmox_name.startswith('WIN')"
  - not proxmox_template

compose:
  ansible_host: proxmox_agent_interfaces[1]['ip-addresses'] | select('search', '\.') | first | split('/') | first