# --- CONFIGURATION RÉSEAU  ---
TF_GATEWAY_VLAN40=
TF_GATEWAY_VLAN50=
TF_GATEWAY_VLAN70=
TF_GATEWAY_VLAN80=
TF_GATEWAY_VLAN90=
TF_GATEWAY_VLAN100=
TF_GATEWAY_VLAN120=
TF_GATEWAY_VLAN130=
TF_GATEWAY_VLAN140=
TF_GATEWAY_VLAN150=
TF_GATEWAY_VLAN160=
TF_NETWORK_V1=
TF_NETWORK_V2=
TF_NETWORK_V3=

# --- INFRASTRUCTURE PROXMOX  ---
TF_DATASTORE_ID=
TF_NAME_NODE_1=
TF_NAME_NODE_2=
TF_IP_NODE_1=
TF_IP_NODE_2=

# --- CONFIGURATION BASTION & KEEPALIVED (IMAGES 1 & 3) ---
TF_IP_BASTION_01=
TF_IP_BASTION_02=
TF_IP_BASTION_VIP=
BASTION_IFACE=
BASTION_ROUTER_ID=

# --- SYSTÈME & PROJET  ---
DEBIAN_DISTRO=
TF_VAR_environnement=
TF_VAR_full_clone=
TF_CLOUD_ORGANIZATION=
TF_WORKSPACE=

