zone "{{ bind9_domain }}" {
    type master;
    file "/etc/bind/db.{{ bind9_domain }}";
    allow-update { none; };
};

zone "{{ bind9_reverse_zone }}" {
    type master;
    file "/etc/bind/db.{{ bind9_reverse_zone }}";
    allow-update { none; };
};