[defaults]
inventory = inventory/inventory.proxmox.yml
roles_path = roles
remote_user = cloudadm
host_key_checking = True
pipelining = True
enable_plugins = community.proxmox.proxmox, yaml
interpreter_python = auto_silent
log_path= /var/log/ansible/ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s