module(load="imudp")
input(type="imudp" port="{{ rsyslog_port }}")

module(load="imtcp")
input(type="imtcp" port="{{ rsyslog_port }}")

if $fromhost-ip == '{{ rsyslog_fortigate_ip }}' then {{ rsyslog_log_dir }}/fortigate.log
& stop

