# ===========================================================
# METADONNÉES
# ===========================================================
name: "Déploiement Terraform 'Static'"
run-name: "Déploiement Terraform 'Static' pour ${{ github.ref_name }}"

# ===========================================================
# DÉCLENCHEURS
# ===========================================================
on:
  push:
    branches:
      - main
      - feature
    paths:
      - 'terraform/**'
      - '.github/workflows/*'
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
          - poc
          - nuuk


# ===========================================================
# PERMISSIONS
# ===========================================================
permissions: # Principe du moindre privilège
  contents: read

# ===========================================================
# CONFIGURATION GLOBALE
# ===========================================================

env:
  TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
  TF_VAR_proxmox_api_url: ${{ secrets.PVE_API_URL }}
  TF_VAR_proxmox_api_token_id: ${{ secrets.PVE_TOKEN_ID }}

# ===========================================================
# JOBS (Unités de travai)
# ===========================================================
jobs:
  # POC
  deploy-terra-static-poc:
    name: "Terraform Static POC"
    runs-on: self-hosted
    environment: poc # Utilise les secrets de "poc"
    steps:
      - run: echo "Déploiement complet pour POC"

    
  # Build nuuk
  deploy-terra-static-nuuk:
    name: "Terraform Static Nuuk"
    runs-on: self-hosted
    environment: nuuk # Utilise les secrets de "nuuk"
    steps:
      - run: echo "Déploiement complet pour Nuuk"