name: "AISMediLab Infrastructure Deployment"

on:
  push:
    branches:
      - feature
      - develop
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: "Terraform Execution"
    runs-on: self-hosted
    defaults:
        run:
            working-directory: ./terraform
    
    # Définition des variables d'environnement globales pour le job
    env:
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      TF_VAR_proxmox_api_url: ${{ secrets.PVE_API_URL }}
      TF_VAR_proxmox_api_token_id: ${{ secrets.PVE_TOKEN_ID }}
      TF_VAR_proxmox_api_token_secret: ${{ secrets.PVE_TOKEN_SECRET }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: List files for debug
        # Cette commande va afficher ce que le runner voit dans le dossier terraform
        run: ls -R
        working-directory: ./terraform

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check
        continue-on-error: true # Pour éviter de bloquer si c'est juste un souci d'espace

      - name: Terraform Plan
        id: plan
        # Vérifie bien l'orthographe de "environnements" vs "environments"
        run: terraform plan -input=false -var-file=environnements/test/terraform.tfvars