name: "Déploiement Terraform"

on:
  push:
    branches:
      - feature
  pull_request:
    branches:
      - feature
  workflow_dispatch:
    inputs:
      environment:
        description: "Environnement à déployer"
        required: true
        default: "test"
        type: choice
        options:
          - test
          - nuuk
          - prod
      component:
        description: "Composant à déployer"
        required: true
        default: "01_bastion"
        type: choice
        options:
          - all
          - 01_bastion
          - 02_dhcp
          - 03_ha_web
          - 04_gestion
          - 05_web
          - 06_db_web
          - 07_db_monitoring
          - 08_db_gestion
          - 09_win_rodc
          - 10_win_addnsntp
          - 11_ha_infra
          - 11_monitoring
      action:
        description: "Action à exécuter"
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply

jobs:
  terraform:
    name: "Terraform"
    runs-on: self-hosted

    env:
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      TF_VAR_proxmox_api_url: ${{ secrets.PVE_API_URL }}
      TF_VAR_proxmox_api_token_id: ${{ secrets.PVE_TOKEN_ID }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Set var file
        run: |
          if [ "${{ github.event.inputs.environment }}" == "test" ]; then
            echo "VAR_FILE=terraform.tfvars" >> $GITHUB_ENV
          else
            echo "VAR_FILE=formations.tfvars" >> $GITHUB_ENV
          fi

      - name: Set working directory
        run: |
          if [ "${{ github.event.inputs.component }}" == "all" ]; then
            echo "WORKING_DIR=./terraform" >> $GITHUB_ENV
          else
            echo "WORKING_DIR=./terraform/composants/${{ github.event.inputs.component }}" >> $GITHUB_ENV
          fi

      - name: Terraform Init
        run: terraform init
        working-directory: $WORKING_DIR

      - name: Terraform Plan
        run: terraform plan -var-file="environnements/${{ github.event.inputs.environment }}/$VAR_FILE"
        continue-on-error: true
        working-directory: $WORKING_DIR

      - name: Terraform Apply
        if: github.event.inputs.action == 'apply'
        run: terraform apply -var-file="environnements/${{ github.event.inputs.environment }}/$VAR_FILE" -auto-approve
        working-directory: $WORKING_DIR