# ===========================================================
# METADONNÉES
# ===========================================================
name: "Déploiement Terraform 'Socle'"
run-name: "Déploiement Terraform 'Socle' pour ${{ github.ref_name }}"

# ===========================================================
# DÉCLENCHEURS
# ===========================================================
on:
  push:
    branches: [main,feature]
    paths: ['terraform/**', '.github/workflows/*']
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options: [poc, nuuk, all]
      action:
        description: "Action"
        required: true
        default: deploy
        type: choice
        options: [deploy, recreate, destroy]

# ===========================================================
# PERMISSIONS
# ===========================================================
permissions: # Principe du moindre privilège
  contents: read

# ===========================================================
# CONFIGURATION GLOBALE
# ===========================================================
env:
  TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}

# ===========================================================
# JOBS (Unités de travai)
# ===========================================================
jobs:
  # =========================================================
  # JOB POUR LE POC
  # =========================================================
  deploy-terra-static-poc:
    name: "Terraform Static POC"
    if: github.event.inputs.environment == 'poc' || github.event.inputs.environment == 'all' || github.event_name == 'push'
    runs-on: [self-hosted, poc-runner]
    environment: poc # Utilise les secrets de "poc"
    env: 
      TF_VAR_proxmox_api_url: ${{ secrets.PVE_API_URL }}
      TF_VAR_proxmox_api_user: ${{ secrets.PVE_API_USER }}
      TF_VAR_proxmox_api_token_id: ${{ secrets.PVE_TOKEN_ID }}
      TF_VAR_proxmox_api_token_secret: ${{ secrets.PVE_TOKEN_SECRET }}
      TF_VAR_ip_bastion_01: ${{ vars.TF_IP_BASTION_01 }}
      TF_VAR_ip_bastion_02: ${{ vars.TF_IP_BASTION_02 }}
      TF_VAR_bastion_vip: ${{ vars.TF_IP_BASTION_VIP }}
      TF_VAR_gateway_vlan40: ${{ vars.TF_GATEWAY_VLAN40 }}
      TF_VAR_datastore_id: ${{ vars.TF_DATASTORE_ID }}
      TF_VAR_node_name_1: ${{ vars.TF_NAME_NODE_1 }}
      TF_VAR_node_name_2: ${{ vars.TF_NAME_NODE_2 }}
      TF_VAR_network_v1: ${{ vars.TF_NETWORK_V1 }}
      TF_VAR_ssh_public_keys: |
        ${{ vars.SSH_PUBLIC_KEYS }}
      TF_WORKSPACE: "nuuk-medilab-poc"
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      TF_VAR_full_clone: "false"
      TF_CLOUD_ORGANIZATION: "nuuk"

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      
      # 1. Vérification du formatage
      # - name: Check Terraform Formatting
      #   run: terraform -chdir=terraform/composants/01_bastion fmt -check
      
        # 2. Initialisation
      - name: Terraform Init (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion init -upgrade

      # 3. Validation de la syntaxe
      - name: Terraform Validate (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion validate
      
      # 4. Analyse de sécurité avec tfsec
      # - name: tfsec Check
      #   uses: aquasecurity/tfsec-action@v1.0.0  
      #   with:
      #     working_directory: terraform/composants/01_bastion
      #     soft_fail: false # Pipeline échouera si des problèmes de sécurité sont détectés
      # Step de destruction conditionnelle
      - name: Terraform Destroy (Recreate mode)
        if: ${{ github.event.inputs.action == 'recreate' }}
        run: terraform -chdir=terraform/composants/01_bastion destroy -auto-approve
      # 5. Plan
      - name: Terraform Plan (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion plan
      # 6. Apply
      - name: Terraform Apply (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion apply -auto-approve -parallelism=1
      
      # Step de destruction de l'infra
      - name: Terraform Destroy (Destroy mode)
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform -chdir=terraform/composants/01_bastion destroy -auto-approve

      # Step lancement Ansible
      - name: Lancement Ansible Playbook
        run: ansible-inventory -i ansible/inventory/inventory.proxmox.yml --graph

      # Step Etat de réussite ou d'échec du pipeline

      
  # =========================================================
  # JOB POUR NUUK
  # =========================================================
  deploy-terra-static-nuuk:
    name: "Terraform Static Nuuk"
    if: false && (github.event.inputs.environment == 'nuuk' || github.event.inputs.environment == 'all' || github.event_name == 'push') 
    # Désactivé pour éviter les déploiements accidentels sur l'environnement de production
    runs-on: [self-hosted, nuuk-runner]
    environment: nuuk # Utilise les secrets de "nuuk"
    env: 
      TF_VAR_proxmox_api_url: ${{ vars.PVE_API_URL }}
      TF_VAR_ip_bastion_01: ${{ vars.TF_IP_BASTION_01 }}
      TF_VAR_ip_bastion_02: ${{ vars.TF_IP_BASTION_02 }}
      TF_VAR_bastion_vip: ${{ vars.TF_IP_BASTION_VIP }}
      TF_VAR_gateway_vlan40: ${{ vars.TF_GATEWAY_VLAN40 }}
      TF_VAR_datastore_id: ${{ vars.TF_DATASTORE_ID }}
      TF_VAR_node_name_1: ${{ vars.TF_NAME_NODE_1 }}
      TF_VAR_node_name_2: ${{ vars.TF_NAME_NODE_2 }}
      TF_VAR_network_v1: ${{ vars.TF_NETWORK_V1 }}
      TF_VAR_ssh_public_keys: |
        ${{ vars.SSH_PUBLIC_KEYS }}
      TF_WORKSPACE: "nuuk-medilab-prod"
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      TF_CLOUD_ORGANIZATION: "nuuk"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      # Init
      - name: Terraform Init (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion init

      # Step de destruction conditionnelle
      - name: Terraform Destroy (Recreate mode)
        if: ${{ github.event.inputs.action == 'recreate' }}
        run: terraform -chdir=terraform/composants/01_bastion destroy -auto-approve
      # Plan
      - name: Terraform Plan (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion plan
      # Apply
      - name: Terraform Apply (01_bastion)
        run: terraform -chdir=terraform/composants/01_bastion apply -auto-approve -parallelism=1
      
      # Step de destruction de l'infra
      - name: Terraform Destroy (Destroy mode)
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform -chdir=terraform/composants/01_bastion destroy -auto-approve

    # =========================================================
    # JOBS POUR LES AUTRES ENVIRONNEMENTS (ex: staging) À VENIR
    # =========================================================
  terraform-deploy:
    # Test de Job unique
    name: "Deploy to ${{ matrix.target_env }}"
    if: false && (github.event.inputs.environment == 'all' || github.event_name == 'push')
    runs-on: ${{ matrix.target_env == 'nuuk' && 'nuuk-runner' || 'poc-runner' }}
    
    # Matrice pour gérer les différents environnements
    strategy:
      fail-fast: true
      matrix:
        target_env: [poc, nuuk]

    # Chargement des variables dans l'environnement courant du job
    environment: ${{ matrix.target_env }}

    env: 
      # Variables d'accès
      TF_VAR_proxmox_api_url: ${{ vars.PVE_API_URL }}
      # Variables spécifiques à l'infrastructure
      TF_VAR_datastore_id: ${{ vars.TF_DATASTORE_ID }}
      TF_VAR_node_name_1: ${{ vars.TF_NAME_NODE_1 }}
      TF_VAR_node_name_2: ${{ vars.TF_NAME_NODE_2 }}

      # Variables de configuration réseau
      TF_VAR_network_v1: ${{ vars.TF_NETWORK_V1 }}
      TF_VAR_gateway_vlan40: ${{ vars.TF_GATEWAY_VLAN40 }}
      TF_VAR_ip_bastion_01: ${{ vars.TF_IP_BASTION_01 }}
      TF_VAR_ip_bastion_02: ${{ vars.TF_IP_BASTION_02 }}
      TF_VAR_bastion_vip: ${{ vars.TF_IP_BASTION_VIP }}

      # Sécurité & Workspace
      TF_VAR_ssh_public_keys: ${{ vars.SSH_PUBLIC_KEYS }}
      TF_WORKSPACE: "nuuk-medilab-${{ matrix.target_env }}"
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
      TF_CLOUD_ORGANIZATION: "nuuk"
      TF_VAR_full_clone: "false"

    steps:
      - uses: actions/checkout@v4
      
      - name: Terraform Init
        run: terraform -chdir=terraform/composants/01_bastion init -upgrade

      - name: Terraform Plan
        run: terraform -chdir=terraform/composants/01_bastion plan

      - name: Terraform Apply
        # apply manuel obligatoire
        if: github.ref == 'refs/heads/main'
        run: terraform -chdir=terraform/composants/01_bastion apply -auto-approve